<html>
  <head>
    <title></title>
  </head>
  <body>
    <% if number > guess %>
      <style>
        body {
            background: crimson;
          }
      </style>
      <% elsif number < guess %>
      <style>
      body {
          background: blue;
        }
      </style>
      <% else number == guess %>
      <style>
      body {
          background: green;
        }
      </style>
    <% end %>

    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
    <p>
      The SECRET NUMBER is <%= number %>
      <%= message %>
    </p>
  </body>
</html>
