<html>
  <head>
    <title></title>
  </head>
  <body>
    <% if number > guess %>
      <style>
        body {
            background: blue;
          }
      </style>
      <% elsif number < guess %>
      <style>
      body {
          background: crimson;
        }
      </style>
      <% else number == guess %>
      <style>
      body {
          background: green;
        }
      </style>
    <% end %>

    <p>
      <% if cheat == "true" %>
      The SECRET NUMBER is <%= number %>
      <% end %>
    </p>

    <form>
      <input type='text' name='guess' />
      <input type='hidden' name='cheat' />
      <input type='submit' value='Guess!' />
    </form>
    <p>

      <%= message %>
    </p>
  </body>
</html>
